<br /><br />
      <div class="position-absolute top-45 start-50 translate-middle">
        <form [formGroup]="colorForm">
          <label class="form-label">Introduce un color en codigo hexadecimal</label>
          <input formControlName="color" type="text"  />
          
         </form>
      </div>
<br /><br />
<div class="container">
  <div class="row">

    <div class="col">
      <button [ngStyle]="{backgroundColor: getColor()}" class="btn btn-outline-primary">Boton 1</button>
    </div>

    <div class="col">
      <button [ngStyle]="{backgroundColor: getColor()}" class="btn btn-outline-primary">Boton 2</button>
    </div>

    <div class="col">
      <button [ngStyle]="{backgroundColor: getColor()}" class="btn btn-outline-primary">Boton 3</button>
    </div>

    <div class="col">
      <button [ngStyle]="{backgroundColor: getColor()}" class="btn btn-outline-primary">Boton 4</button>
    </div>

    <div class="col">
      <button [ngStyle]="{backgroundColor: getColor()}" class="btn btn-outline-primary">Boton 5</button>
    </div>

  </div>
</div>
