<ul class="nav nav-tabs justify-content-center bg-light">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/signin">Sign In</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/signup">Sign Up</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/signout">Sign Out</a>
  </li>
</ul>

<br />
<h3 style="text-align: center">Test de FrontEnd IX Leslie Alejandra Ruiz Bustos</h3>

<div>
  <router-outlet></router-outlet>
</div>
